<table>
        <tr>
            <td>Sl No</td>
            <td>Name</td>
            <td>Price</td>
            <td>Actions</td>
        </tr>
        <tr *ngFor = "let pd of prod;let i = index">
                <td>{{i+1}}</td>
                <td>{{pd.name}}</td>
                <td>{{pd.price}}</td>
                <td><button (click)="editProd(i)">Edit</button>&nbsp;&nbsp;<button (click)="delProd(i)">Del</button></td>           
        </tr>
</table>

Name : <input type="text" placeholder="name" [(ngModel)]="pName"> &nbsp;&nbsp;
Price : <input type="text" placeholder="price" [(ngModel)]="pPrice">&nbsp;&nbsp;
<button (click)="saveProd()">Save</button>
<input type="hidden" placeholder="name" [(ngModel)]="objectIndex"> &nbsp;&nbsp;
<br><hr /><br>

<div class="container" >
            <div>
              <label for="product">Product : </label>
              <input id="product" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=filter()>
            </div>
            <div *ngIf="filteredList.length > 0">
                <ul *ngFor="let item of filteredList" style="list-style-type:none; padding:0px;" class="search-result">
                    <li >
                        <a (click)="select(item)">{{item.productTypeDisplayName}}</a>
                    </li>
                </ul>
            </div>
</div>

<br>

<table *ngFor="let attr of productAttr" class="table table-bordered table-striped table-hover">
    <tr>
        <td>{{attr.productAttribute.productAttributeDisplayName}}</td>
        <td>{{attr.productAttribute.productAttributeValue}}</td>
    </tr>
</table>
